body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


nav {
  display: flex;
  align-items: center;
  background-color: #E0CCBD;
  height: 90px;
  padding: 30px 25px;
}

.nav--icon {
  height: 100%;
  padding: 7px;
}

.nav--cart {
  height: 40%;
  margin-right: 7px;
  padding: 10px;
}

.nav--search {
  width: 70%;
  padding: 20px;
}

.nav-input {
  display: flex;
  position: static;
  float: none;
  width: 100%;
}

.nav--text {
  padding: 10px;
}

ul li a {
  color: #000;
 }
 
 ul li a:hover {
  color: #00a8ff;
 }
 
 ul li a.active {
  color: #00a8ff;
 }

 .wrapper {
  padding: 20px;
}